.rules-image {
  height: 170px;
  width: 190px;
}

.modal {
  font-size: 12px;
  background-color: #ffffff;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  line-height: 20px;
  right: 5px;
  top: 7px;
  font-size: 24px;
  background: #ffffff;
  border: 1px solid #cfcece;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: absolute;
  top: 91%;
  left: 71%;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  border: 0px;
  background: #ffffff;
  color: #223a5f;
  font-weight: 800;
  font-family: 'Bree Serif';
  cursor: pointer;
  outline: none;
}

.cross-mark {
  font: 24px;
}
